@import "helpers/variables";


@mixin bp-sm {
	@media only screen and(min-width: $breakpoint-sm){
		@content;
	}
}


@mixin bp-md {
	@media only screen and(min-width: $breakpoint-md){
		@content;
	}
}

@mixin bp-lg {
	@media only screen and(min-width: $breakpoint-lg){
		@content;
	}
}