@import "helpers/variables";
@import "helpers/mixins";

@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster/Lobster.ttf);
}
@font-face {
    font-family: 'Holtwood One SC';
    src: url(../fonts/Holtwood_One_SC/HoltwoodOneSC.ttf);
}

body, 
html{
	font-family: Helvetica, Arial, sans-serif;
	color: $main-font-color;
}

h1{
	font-family: Lobster;
	font-size: 80px; //80px/16 5em
	text-shadow: 1px 2px 0px rgba(255,255,255,0.5);
	color: white;
}
h2{
	font-family: 'Holtwood One SC';
	font-size: 40px; //40px/16 2.5em
	color: white;
}
h3{
	font-family: 'Holtwood One SC';
	font-size: 30px; //30px/16 1.875em
	color: white;	
}
@include bp-md {
	.text-align{
		text-align: right;
	}
}
.location{
	font-size: 20px;
}

//><><><><><>< #menu ><><><><><><><
.drink-name{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 21px;//21px/16 1.3125em
}
.drink-name--description{ //small
	font-size: 14px;//14px/16 0.875em
	color: $description-font-color;
}
//><><><><><>< footer ><><><><><><><
footer{
	.logo{
		font-family: Lobster;
		font-size: 45px;
		text-shadow: 1px 2px 0px rgba(255,255,255,0.5);
	}
}

