*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
p{
	margin: 0;
}
body{
	background: url(../img/bg-dark.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
//<><><><><><><><><> .hero <><><><><><><><><>

.hero{
	margin: 40px auto;
	max-width: 1170px;
}
#menu{
	border-bottom: 2px solid rgba(255,255,255, 0.5);
}
.drink-name{
	padding: 10px 0 15px 0;
}
.special__item{
 	outline: solid rgba(255,255,255,0.5) 8px;
    outline-offset: -8px;
}
h2{
	padding-bottom: 20px;
}
h3{
	border-bottom: 1px dotted rgba(255,255,255, 0.5);
	padding-bottom: 15px;
}
.special__item{
	float: left;
	width: 100%;
	height: auto;
	margin: 10px 0px;
}
.location{
	margin-top:15px;
	background-color: rgba(0,0,0,0.9);
	.hours{
		padding: 20px 0 15px 0;
	}
	.address{
		line-height: 1.2em;
	}
	button{
		margin-top: 10px;
		width: 275px;
		height: 45px;
	}
}
