*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
p{
	margin: 0;
}
body{
	background: url(../img/bg-dark.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
//<><><><><><><><><> .hero <><><><><><><><><>

.hero{
	margin: 40px auto;
	max-width: 1170px;
}
#menu{
	border-bottom: 2px solid rgba(255,255,255, 0.5);

}
.drink-name{
	padding: 10px 0 15px 0;
	@include bp-md {
		padding: 0px 0 15px 0;
	}
}
h2{
	padding-bottom: 20px;
}
h3{
	border-bottom: 1px solid rgba(255,255,255, 0.5);
	padding-bottom: 15px;
	@include bp-md {
		border-bottom: 0px solid rgba(255,255,255, 0.5);
		padding-bottom: 0px;
	}
}
.special__item{
	float: left;
	width: 100%;
	height: auto;
	margin: 10px 0px;
}
.column{
	@include bp-sm {
		padding-left:10px;
	}
}
.location{
	background-color: rgba(0,0,0,0.9);

	// width: 275px;
	// height: 70px;
	button{
		width: 275px;
		height: 45px;
	}
}

//<><><><><><><><> footer <><><><><><><

footer{
	border-top: 1px solid #5e3c2f;
	margin-bottom: 10px;
	.logo{
		margin: 0px 10px 40px 10px;
		padding-top: 20px;
	}
	.address{
		padding-top: 30px;
		.address__item{
			margin: 0px 10px;
		}
	}
}


